<% form_tag :action => :create do %>
	<label for="username">Login:</label><%= text_field_tag :username%><br />
	<label for="password">Senha:</label><%= password_field_tag :username%><br />
	<%= submit_tag "Entrar" %>
<% end %>
